In [1]:
print("Hello World")

Hello World

In [2]:
variable_name = 'value'

In [3]:
print(variable_name) # How We Print a Output in Python

value

In [4]:
variable_name # An Alternative Way to Print a Value in JUPITER NOTEBOOK by just Writing the Last Value in the Cell as the Variable Name

'value'

In [5]:
a=10
print(type(a))
a

<class 'int'>

10

In [6]:
b=5.0
print(type(b))
b

<class 'float'>

5.0

In [7]:
c="35"
print(type(c))
c

<class 'str'>

'35'

In [8]:
d = a+b
print(d)

15.0

In [9]:
"""
d = a+c
print(d)
# ERROR
"""

'\nd = a+c\nprint(d)\n# ERROR\n'

In [10]:
d=str(a)+c #Converting a to a String and then Adding to Avoid Error
d #Adding Multiple Strings Together Gets One Long String

'1035'

In [11]:
d=a+int(c) #Converting a to a Int and then Adding to Avoid Error
d #Adding Two Integers Together Gets the Value

45

In [12]:
print("Hello"+"World") #Adding Two Strings

HelloWorld

In [13]:
print("Hello","World") #Combing Two Strings with a Comma Gives a Space

Hello World

In [14]:
print("Hello\tWorld") #\t is TAB SPACE

Hello	World

In [15]:
print("Hello\nWorld") #\n is NEW LINE

Hello
World

In [16]:
l=["a","b","c","d","a"]
print(type(l))
l

<class 'list'>

['a', 'b', 'c', 'd', 'a']

In [17]:
print(l[0]) #Index Value '0' wich is the '1st' Value in the List
print(l[1]) #Index Value '1' wich is the '2nd' Value in the List
print(l[2]) #Index Value '2' wich is the '3rd' Value in the List
print(l[3]) #Index Value '3' wich is the '4th' Value in the List
print(l[4]) #Index Value '4' wich is the '5th' Value in the List
# print(l[5]) #Index Value '5' wich is the '6th' Value in the List (WHICH DOESNT EXIST)

a
b
c
d
a

In [18]:
print(l[-1]) #Index Value '-1' wich is the 'THE LAST' Value in the List
print(l[-2]) #Index Value '-2' wich is the '2nd LAST' Value in the List
print(l[-3]) #Index Value '-3' wich is the '3rd LAST' Value in the List
print(l[-4]) #Index Value '-4' wich is the '4th LAST' Value in the List
print(l[-5]) #Index Value '-5' wich is the '5th LAST' Value in the List
# print(l[-6]) #Index Value '-6' wich is the '6th LAST' Value in the List  (WHICH DOESNT EXIST)

a
d
c
b
a

In [19]:
l.append("e")
l

['a', 'b', 'c', 'd', 'a', 'e']

In [20]:
t=("a","b","c","d","a") #UNCHANGABLE
print(type(t))
t

<class 'tuple'>

('a', 'b', 'c', 'd', 'a')

In [21]:
print(t[0]) #Index Value '0' wich is the '1st' Value in the Tuple
print(t[1]) #Index Value '1' wich is the '2nd' Value in the Tuple
print(t[2]) #Index Value '2' wich is the '3rd' Value in the Tuple
print(t[3]) #Index Value '3' wich is the '4th' Value in the Tuple
print(t[4]) #Index Value '4' wich is the '5th' Value in the Tuple
# print(t[5]) #Index Value '5' wich is the '6th' Value in the Tuple (WHICH DOESNT EXIST)
print("\n")
print(t[-1]) #Index Value '-1' wich is the 'THE LAST' Value in the Tuple
print(t[-2]) #Index Value '-2' wich is the '2nd LAST' Value in the Tuple
print(t[-3]) #Index Value '-3' wich is the '3rd LAST' Value in the Tuple
print(t[-4]) #Index Value '-4' wich is the '4th LAST' Value in the Tuple
print(t[-5]) #Index Value '-5' wich is the '5th LAST' Value in the Tuple
# print(t[-6]) #Index Value '-6' wich is the '6th LAST' Value in the Tuple  (WHICH DOESNT EXIST)

a
b
c
d
a


a
d
c
b
a

In [8]:
s={"a","b","c","d","a"} #UNORDERD, UNCHANGABLE
print(type(s))
s

<class 'set'>

{'a', 'b', 'c', 'd'}

In [23]:
# to APPEND to a TUPLE you Need to First Convert it to a LIST
print(t)
t=list(t)
t.append("e")
print(t)
# to Remove Duplicated Values Convert to a SET (but it Comes with Risk of NOT HAVING THE SAME ORDER)
t = set(t)
print(t)
#Change it Back to a Tuple
t = tuple(t)
print(t)
print(type(t))
t

('a', 'b', 'c', 'd', 'a')
['a', 'b', 'c', 'd', 'a', 'e']
{'a', 'e', 'b', 'd', 'c'}
('a', 'e', 'b', 'd', 'c')
<class 'tuple'>

('a', 'e', 'b', 'd', 'c')

In [24]:
r=range(10)#all numbers from 0 to 9
r=range(2,10)#all numbers from 2 to

In [25]:
b=True
b=False

In [26]:
d={"key1":10,"key2":13,"key3":20,"key1":40,"key1":21} #Mapped by Key Values and Duplicated Keys Not Allowed
d

{'key1': 21, 'key2': 13, 'key3': 20}

In [27]:
print(d["key1"])
print(d["key2"])
print(d["key3"])

21
13
20

In [28]:
# Python Arithmetic Operators

In [29]:
val1 = 10
val2 = 5

In [30]:
print(val1+val2)

15

In [31]:
print(val1-val2)

5

In [32]:
print(val1*val2)

50

In [33]:
print(val1/val2) #Divides (returns a Float Value)

2.0

In [34]:
print(int(val1/val2)) #First Way to Divide and Return an Integer Value

2

In [35]:
print(val1//val2) #Floor Division (Second Way to Divide and Return an Integer Value)

2

In [36]:
print(val1**val2) #Exponential Operator

100000

In [37]:
print(val1%val2) #Modulus Operator (RETURNS THE REMAINDER OF DEVIDING THE VALUES)

0

In [38]:
# Python Assignment Operators

In [39]:
val = 20 #Assigning a Value to a Variable

In [40]:
# Incrementaion
val += 1 # val = val + 1
val

21

In [41]:
# Decrementaion
val -= 1 # val = val + 1
val

20

In [42]:
val *= 1 # val = val + 1
val

20

In [43]:
val /= 1 # val = val + 1
val

20.0

In [44]:
val //= 1 # val = val // 1
val **= 1 # val = val ** 1
val %= 1 # val = val % 1
val

0.0

In [45]:
# Python Comparison Operators

In [46]:
print("Value 1 =",val1)
print("Value 2 =",val2)

Value 1 = 10
Value 2 = 5

In [47]:
print(val1 == val2) #EQUAL

False

In [48]:
print(val1 != val2) #NOT-EQUAL

True

In [49]:
print(val1 < val2) #LESS THAN

False

In [50]:
print(val1 > val2) #MORE THAN

True

In [51]:
print(val1 <= val2) #LESS THAN or EQUAL TO

True

In [52]:
print(val1 >= val2) #MORE THAN or EQUAL TO

False

In [53]:
# Python Logical Operators

In [54]:
# print(val1 == val2 and val1 != val2)
print(False and True) #FALSE

False

In [55]:
print(True and False) #FALSE

False

print(False and False) #FALSE

In [57]:
print(True and True) #TRUE

True

In [58]:
# print(val1 == val2 or val1 != val2)
print(False or True) #TRUE

True

In [59]:
print(True or False) #TRUE

True

In [60]:
print(False or False) #FALSE

False

In [61]:
print(False or True) #TRUE

True

In [62]:
# print(not(val1 != val2))
print(not(True)) #FALSE

False

In [63]:
# print(not(val1 == val2))
print(not(False)) #TRUE

True

In [64]:
# Python Identity Operators
'''is'''

'is'

In [65]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

z

['apple', 'banana']

In [66]:
print(x is z) # returns True because z is the same object as x

True

In [67]:
print(x is y) # returns False because x is not the same object as y, even if they have the same content

False

In [68]:
print(x == y) # to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True

In [69]:
print(x is not z) # returns False because z is the same object as x

False

In [70]:
print(x is not y) # returns True because x is not the same object as y, even if they have the same content

True

In [71]:
print(x != y) # to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False

In [72]:
# Python Membership Operators
'''in'''

'in'

In [73]:
z = ["apple", "banana"]
z

['apple', 'banana']

In [74]:
print("banana" in z) # returns True because a sequence with the value "banana" is in the list

True

In [75]:
print("banana" not in z)

False

In [76]:
print("pineapple" in z)

False

In [77]:
print("pineapple" not in z) # returns True because a sequence with the value "pineapple" is not in the list

True

In [78]:
"""
str_s = input("Enter a Value :")
str_i = int(input("Enter a Number :"))
str_f = float(input("Enter a Decimal :"))
"""

'\nstr_s = input("Enter a Value :")\nstr_i = int(input("Enter a Number :"))\nstr_f = float(input("Enter a Decimal :"))\n'

In [79]:
VAL1=10
VAL2=20

In [80]:
if(VAL1!=VAL2): #TRUE
    print("A is equal to B")

#IF Prints as the Condition is Proven True

A is equal to B

In [81]:
if(VAL1==VAL2): #FALSE
    print("A is equal to B")

#IF doesnt Print as the Condition is Proven False

In [82]:
if(VAL1==VAL2): #FALSE
    print("A is equal to B")
else:
    print("else")

#ELSE Prints cause IF was FALSE

else

In [83]:
if(VAL1==VAL2): #FALSE
    print("A is equal to B")
elif(VAL1!=VAL2): #TRUE
    print("A is not equal to B")
else:
    print("else")

# ELIF was Proven True so it is Excecuted

A is not equal to B

In [ ]:
if(VAL1==VAL2): #FALSE
    print("A is equal to B")
elif(VAL1!=VAL2): #TRUE
    print("A is not equal to B")


# ELSE is not Compulsory to Use

In [84]:
if(VAL1==VAL2): #FALSE
    print("A is equal to B")
elif(VAL1>VAL2): #FALSE
    print("A is greater than B")
elif(VAL1<VAL2): #TRUE
    print("A is less than B")
else:
    print("else")

#the ELIF which is Proven True is Excecuted

A is less than B

In [85]:
if(VAL1==VAL2): #FALSE
    print("A is equal to B")
elif(VAL1>VAL2): #FALSE
    print("A is greater than B")
elif(VAL1<VAL2): #TRUE
    print("A is less than B")
elif(VAL1!=VAL2): #TRUE
    print("A is not equal to B")
else:
    print("else")

#the ELIF which is Proven True First is Excecuted even tho there is another True ELIF Condition which Ultimately wont get Excecuted

A is less than B

In [86]:
Start=0
End=10

In [87]:
for i in range(Start,End+1): #Print all numbers till a given number
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [88]:
'''
while(Start<=End): #Print all numbers till a given number
    print(Start)
    Start+=1 # Start=Start+1
'''
while(End>=Start): #Print all numbers to a Given Number in Reverse
    print(End)
    End-=1 # End=End-1

10
9
8
7
6
5
4
3
2
1
0

In [89]:
def p():
    print("Hello World!")
p()

Hello World!

In [90]:
p()
p()

Hello World!
Hello World!

In [91]:
def p(v):
    print(v)
p("Hello World!")

Hello World!

In [92]:
p("My Name is Jonathan")
p(1805)

My Name is Jonathan
1805

In [93]:
def r(v1,v2):
    print(v1+v2)
r("Hello","World")
r("Jonathan","Chacko")

HelloWorld
JonathanChacko

In [94]:
def r(v1,v2):
    v = v1+v2
    return v

In [95]:
rtd = r("Hello","World")
print(rtd)

HelloWorld

In [96]:
print(r("Jonathan","Chacko"))

JonathanChacko

In [97]:
class person():
    def function_name(self):
        self.name = "Jonathan"

obj = person()
obj.function_name() #Initialising the Function and Everything in it.
print(obj.name)

Jonathan

In [98]:
class person():
    def __init__(self):
        self.name = "Jonathan"
obj = person() #Initialising the Function and Everything in it.
print(obj.name) #obj <- self (both are Instances of the Class)

Jonathan

In [99]:
class person():
    def __init__(self):
        self.name = "Jonathan"
    def printing(self):
        print("The Person Name is",self.name)
obj = person() #Initialising the Function and Everything in it.
obj.printing()

The Person Name is Jonathan

In [100]:
class person():
    def __init__(self,name):
        self.name = name
    def printing(self):
        print("The Person Name is",self.name)
obj = person("Jonathan") #Initialising the Function and Everything in it.
obj.printing()

The Person Name is Jonathan

In [101]:
class father():
    def __init__(self, name):
        self.fname = name
class child(father):
    def __init__(self,name, father_name):
        self.cname = name
        super().__init__(father_name)
    def printing(self):
        print("The Child Name is =",self.cname)
        print("The Father Name is =",self.fname)
obj = child("Jonathan","Chako") #Initialising the Function and Everything in it.
obj.printing()

The Child Name is = Jonathan
The Father Name is = Chako

In [102]:
class grandparent():
    def __init__(self, name):
        self.gname = name
class father(grandparent):
    def __init__(self, name,parent_name):
        self.fname = name
        super().__init__(parent_name)
class child(father):
    def __init__(self,name, father_name,grandparent_name):
        self.cname = name
        super().__init__(father_name,grandparent_name)
    def printing(self):
        print("The Child Name is =",self.cname)
        print("The Father Name is =",self.fname)
        print("The Grandparent Name is =",self.gname)
obj = child("Jonathan","Chako","MathewPattasseril") #Initialising the Function and Everything in it.
obj.printing()

The Child Name is = Jonathan
The Father Name is = Chako
The Grandparent Name is = MathewPattasseril

In [103]:
class grandparent():
    def __init__(self, name):
        self.gname = name
    def printz(self):
        print("The Grandparent Name is =",self.gname)
class father(grandparent):
    def __init__(self, name,parent_name):
        self.fname = name
        super().__init__(parent_name)
class child(father):
    def __init__(self,name, father_name,grandparent_name):
        self.cname = name
        super().__init__(father_name,grandparent_name)
    def printing(self):
        print("The Child Name is =",self.cname)
        print("The Father Name is =",self.fname)
        # print("The Grandparent Name is =",self.gname)
obj = child("Jonathan","Chako","MathewPattasseril") #Initialising the Function and Everything in it.
# obj.printing()
obj.printz()

The Grandparent Name is = MathewPattasseril

In [104]:
class grandparent():
    def __init__(self, name):
        self.gname = name
    def printz(self):
        print("The Grandparent Name is =",self.gname)
class father(grandparent):
    def __init__(self, name,parent_name):
        self.fname = name
        super().__init__(parent_name)
class child(father):
    def __init__(self,name, father_name,grandparent_name):
        self.cname = name
        super().__init__(father_name,grandparent_name)
    def printing(self):
        print("The Child Name is =",self.cname)
        print("The Father Name is =",self.fname)
        # print("The Grandparent Name is =",self.gname)
        grandparent.printz(self)
obj = child("Jonathan","Chako","MathewPattasseril") #Initialising the Function and Everything in it.
obj.printing()
# obj.printz()

The Child Name is = Jonathan
The Father Name is = Chako
The Grandparent Name is = MathewPattasseril

In [105]:
class grandparent():
    def __init__(self, name):
        self.gname = name
    def printz(self):
        print("The Grandparent Name is =",self.gname)
class father(grandparent):
    def __init__(self, name,parent_name):
        self.fname = name
        super().__init__(parent_name)
class mother():
    def __init__(self, name):
        self.mname = name
class child(father,mother):
    def __init__(self,name,father_name,mother_name,grandparent_name):
        self.cname = name
        father.__init__(self,father_name,grandparent_name) # super().__init__(father_name,grandparent_name)
        mother.__init__(self,mother_name)
    def printing(self):
        print("The Child Name is =",self.cname)
        print("The Father Name is =",self.fname)
        print("The Mother Name is =",self.mname)
        grandparent.printz(self) # print("The Grandparent Name is =",self.gname)
obj = child("Jonathan","Chako","Annie","MathewPattasseril") #Initialising the Function and Everything in it.
obj.printing()
# obj.printz()

The Child Name is = Jonathan
The Father Name is = Chako
The Mother Name is = Annie
The Grandparent Name is = MathewPattasseril

In [106]:
try:
    # a=10
    print(a)
except:
    print("a is not defined") #WORKS ONLY IF TRY DOESNT WORK
else:
    print("else work") #WORKS ONLY IF TRY WORKS
finally:
    print("last condition") #WORKS EVERYTIME

10
else work
last condition

In [107]:
import os

In [108]:
if os.path.exists('file.txt'): #CHECKING IF FILE EXISTS
    os.remove('file.txt') #DELETE FILE
else:
    pass

In [109]:
if not(os.path.exists('file.txt')): #CHECKING IF FILE DOESNT EXISTS
    f=open('file.txt','x') #CREATE FILE (IF NOT ESISTS)
else:
    pass

In [110]:
f=open('file.txt','w')
f.write('My new file')
f=open('file.txt','w')
f.write('To check if my content get overwritten')

38

In [111]:
f=open('file.txt','a')
f.write('\ni have appended more texts into my file')

40

In [112]:
f=open('file.txt','r')
print(f.read())

To check if my content get overwritten
i have appended more texts into my file

In [113]:
f=open('file.txt','r')
print(f.readlines())

['To check if my content get overwritten\n', 'i have appended more texts into my file']

In [114]:
f=open('file.txt','r')
print(f.readline())
print(f.readline())
print(f.readline())

To check if my content get overwritten

i have appended more texts into my file

In [115]:
f=open('file.txt','r')
print(f.readline())
print(f.readlines())
print(f.read())

To check if my content get overwritten

['i have appended more texts into my file']

In [116]:
f=open('file.txt','r')
print(f.readline())
print(f.readlines())
f=open('file.txt','r')
print(f.read())

To check if my content get overwritten

['i have appended more texts into my file']
To check if my content get overwritten
i have appended more texts into my file

In [117]:
f.close()