In [ ]:
# pip install mysql-connector-python
import mysql.connector

In [ ]:
#Connect to the Database
testConnect = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password=""
)

# print(mydb)

In [ ]:
#Create the CURSOR
testcursor = testConnect.cursor()

In [14]:
#Create a Database
testcursor.execute("CREATE DATABASE IF NOT EXISTS mydatabase")

In [ ]:
#Show Databases List
testcursor.execute("SHOW DATABASES")
for x in testcursor:
  print(x)
# mydb.commit()

In [ ]:
# DATABASEselected = input("Enter the database name: ")
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="",
  database="mydatabase" #Database mydatabase Selected
)

In [ ]:
mycursor = mydb.cursor() #Reloading the CURSOR

In [ ]:
# mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))") #Create Table
mycursor.execute(r"""CREATE TABLE IF NOT EXISTS customers ("""+'id INT AUTO_INCREMENT PRIMARY KEY'+""", name VARCHAR(255), address VARCHAR(255))""")
# mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY") #Alter Table Data
mydb.commit()

In [ ]:
mycursor.execute("SHOW TABLES")

for y in mycursor:
  print(y)
# mydb.commit()

In [ ]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Jonathan", "Pune")
mycursor.execute(sql, val)
mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

In [ ]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "was inserted.")

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()
# myresult = mycursor.fetchone()
for x in myresult:
  print(x)
# mydb.commit()

In [ ]:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )
mycursor.execute(sql, adr)
# sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"
# mycursor.execute(sql)
'''
# myresult = mycursor.fetchall()
for x in myresult:
  print(x)
'''
myresult = mycursor.fetchone()
print(myresult)
mydb.commit()

In [ ]:
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
mydb.commit()

In [ ]:
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
mydb.commit()

In [ ]:
sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
mydb.commit()

In [ ]:
sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )
mycursor.execute(sql, adr)
'''
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
mycursor.execute(sql)
'''
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

In [ ]:
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")
mycursor.execute(sql, val)
'''
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
mycursor.execute(sql)
'''
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers LIMIT 15") #Limit to the First 15 Values
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
# mydb.commit()

In [ ]:
mycursor.execute("SELECT * FROM customers LIMIT 13 OFFSET 2") #After the Second Row Limit to the Next 13 Rows
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
# mydb.commit()

In [ ]:
'''
#Prerequisites
    # users
        # { id: 1, name: 'John', fav: 154},
        # { id: 2, name: 'Peter', fav: 154},
        # { id: 3, name: 'Amy', fav: 155},
        # { id: 4, name: 'Hannah', fav:},
        # { id: 5, name: 'Michael', fav:}
    # products
        # { id: 154, name: 'Chocolate Heaven' },
        # { id: 155, name: 'Tasty Lemons' },
        # { id: 156, name: 'Vanilla Dreams' }
#JOIN
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"
#LEFT-JOIN
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"
#RIGHT-JOIN
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
# mydb.commit()
'''

In [ ]:
'''
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="",
  database="mydatabase" #Database mydatabase Selected
)
mycursor = mydb.cursor() #Reloading the CURSOR
'''
sql = "DROP TABLE IF EXISTS customers"
# sql = "DROP TABLE customers"
mycursor.execute(sql)
mydb.commit()