In [1]:
# pip install db-sqlite3
import sqlite3

In [6]:
try:
    # Connect to DB with a ConnectionObject
    db = sqlite3.connect('db.sqlite3') # db = sqlite3.connect('mydatabase.db') 
    # Create a CursorObject
    cursor = db.cursor()
    '''
    print('DB Init')
    # Write a query and execute it with cursor
    query = 'select sqlite_version();'
    cursor.execute(query)
    # Fetch and output result
    result = cursor.fetchall()
    print('SQLite Version is {}'.format(result))
    '''
except sqlite3.Error as error:
    # Handle errors
    print('Error occured - ', error)
# Close DB Connection irrespective of success
# or failure
'''
finally:
    if sqliteConnection:
        # Close the cursor
        cursor.close()
        # Close the connection
        db.close()
        # print('SQLite Connection closed')
'''

"\nfinally:\n    if sqliteConnection:\n        # Close the cursor\n        cursor.close()\n        # Close the connection\n        db.close()\n        # print('SQLite Connection closed')\n"

In [4]:
# Creating table
table = "CREATE TABLE IF NOT EXISTS tablename(Email varchar(255), Age int, First_Name char(25) NOT NULL, Last_Name char(25));"#ID INT PRIMARY KEY NOT NULL,
cursor.execute(table)
# print("Table is Ready")

In [4]:
sql_query = """SELECT name FROM sqlite_master
    WHERE type='table';"""
# executing our sql query
cursor.execute(sql_query)
# printing all tables list
print(cursor.fetchall())

[('tablename',)]

In [5]:
# Queries to INSERT records.
cursor.execute('''INSERT INTO tablename (Email,Age,First_Name,Last_Name) VALUES ('jcp99gamer@gmail.com', 21, 'Jaiden', 'John')''')
cursor.execute('''INSERT INTO tablename (Email,Age,First_Name,Last_Name) VALUES ('jonathanchacko1805@gmail.com',20, 'Jonathan', 'Chacko')''')
cursor.execute('''INSERT INTO tablename (Email,Age,First_Name,Last_Name) VALUES ('ipp2021043@sicsr.ac.in',19, 'Prisha', 'Chawla')''')

In [6]:
# to select all column we will use
statement = '''SELECT * FROM tablename''' # LIMIT 2
cursor.execute(statement)
print("All the data")
output = cursor.fetchall()
# output = cursor.fetchmany(2)
for row in output:
  print(row)
'''
output = cursor.fetchone()
print(output)
'''

All the data
('noxpablo101@gmail.com', 21, 'Jaiden', 'John', 'RawData')
('prishachawla10@gmail.com', 19, 'Prisha', 'Chawla', 'RawData')
('jcp99gamer@gmail.com', 21, 'Jaiden', 'John', None)
('jonathanchacko1805@gmail.com', 20, 'Jonathan', 'Chacko', None)
('ipp2021043@sicsr.ac.in', 19, 'Prisha', 'Chawla', None)

'\noutput = cursor.fetchone()\nprint(output)\n'

In [7]:
# WHERE CLAUSE TO RETRIEVE DATA
cursor.execute("SELECT * FROM tablename WHERE Email = 'ipp2021043@sicsr.ac.in'")
# printing the cursor data
print(cursor.fetchall())

[('ipp2021043@sicsr.ac.in', 19, 'Prisha', 'Chawla', None)]

In [8]:
# WHERE CLAUSE TO RETRIEVE DATA
cursor.execute("SELECT * from tablename WHERE First_name Like'J%'")
# printing the cursor data
print(cursor.fetchall())

[('noxpablo101@gmail.com', 21, 'Jaiden', 'John', 'RawData'), ('jcp99gamer@gmail.com', 21, 'Jaiden', 'John', None), ('jonathanchacko1805@gmail.com', 20, 'Jonathan', 'Chacko', None)]

In [9]:
# WHERE CLAUSE
  # TO UPDATE DATA  
cursor.execute("UPDATE tablename SET Email ='prishachawla10@gmail.com' WHERE Age = 19")
cursor.execute("UPDATE tablename SET Email ='noxpablo101@gmail.com' WHERE Last_Name = 'John'")
  # TO DELETE DATA
cursor.execute("DELETE from tablename WHERE First_Name = 'Jonathan'")
# printing the cursor data
cursor.execute("SELECT * from tablename")
# print(cursor.fetchall())
for data in cursor.fetchall():
  print(data)

('noxpablo101@gmail.com', 21, 'Jaiden', 'John', 'RawData')
('prishachawla10@gmail.com', 19, 'Prisha', 'Chawla', 'RawData')
('noxpablo101@gmail.com', 21, 'Jaiden', 'John', None)
('prishachawla10@gmail.com', 19, 'Prisha', 'Chawla', None)

In [10]:
cursor.execute("SELECT First_Name,Last_Name from tablename ORDER BY Age DESC")
# display data row by row
for i in cursor:
    print(i)

('Jaiden', 'John')
('Jaiden', 'John')
('Prisha', 'Chawla')
('Prisha', 'Chawla')

In [11]:
# Add a new column to geek table
new_column = "ALTER TABLE tablename ADD COLUMN NewColumn CHAR(25)"
cursor.execute(new_column)

# Display table
data = cursor.execute("SELECT * FROM tablename")
print('Table:')
for row in data:
    print(row)

OperationalError: duplicate column name: NewColumn

In [ ]:
# query to update all data in  ship_address
cursor.execute("UPDATE tablename set NewColumn='RawData'")

# Display table
data = cursor.execute("SELECT * FROM tablename")
print('Table:')
for row in data:
    print(row)

Table:
('noxpablo101@gmail.com', 21, 'Jaiden', 'John', 'RawData')
('prishachawla10@gmail.com', 19, 'Prisha', 'Chawla', 'RawData')

In [ ]:
'''
renameTable = "ALTER TABLE tablename RENAME TO RenamedTable"
cursor.execute(renameTable)

data = cursor.execute("SELECT * FROM RenamedTable")
sql_query = """SELECT name FROM sqlite_master
    WHERE type='table';"""
cursor.execute(sql_query)
print("Current Existing Tables are = ")
print(cursor.fetchall())
print('RenamedTable Data:')
for row in data:
    print(row)
'''

'\nrenameTable = "ALTER TABLE tablename RENAME TO RenamedTable"\ncursor.execute(renameTable)\n\ndata = cursor.execute("SELECT * FROM RenamedTable")\nsql_query = """SELECT name FROM sqlite_master\n    WHERE type=\'table\';"""\ncursor.execute(sql_query)\nprint("Current Existing Tables are = ")\nprint(cursor.fetchall())\nprint(\'RenamedTable Data:\')\nfor row in data:\n    print(row)\n'

In [ ]:
"""
# Joins
cursor.executescript('''
CREATE TABLE Advisor(
AdvisorID INTEGER NOT NULL,
AdvisorName TEXT NOT NULL,
PRIMARY KEY(AdvisorID)
);
  
CREATE TABLE Student(
StudentID NUMERIC NOT NULL,
StudentName NUMERIC NOT NULL,
AdvisorID INTEGER,
FOREIGN KEY(AdvisorID) REFERENCES Advisor(AdvisorID),
PRIMARY KEY(StudentID)
);
  
INSERT INTO Advisor(AdvisorID, AdvisorName) VALUES
(1,"John Paul"), 
(2,"Anthony Roy"), 
(3,"Raj Shetty"),
(4,"Sam Reeds"),
(5,"Arthur Clintwood");
  
INSERT INTO Student(StudentID, StudentName, AdvisorID) VALUES
(501,"Geek1",1),
(502,"Geek2",1),
(503,"Geek3",3),
(504,"Geek4",2),
(505,"Geek5",4),
(506,"Geek6",2),
(507,"Geek7",2),
(508,"Geek8",3),
(509,"Geek9",NULL),
(510,"Geek10",1);
  
''')
# https://www.geeksforgeeks.org/python-sqlite-join-clause/
"""

'\n# Joins\ncursor.executescript(\'\'\'\nCREATE TABLE Advisor(\nAdvisorID INTEGER NOT NULL,\nAdvisorName TEXT NOT NULL,\nPRIMARY KEY(AdvisorID)\n);\n  \nCREATE TABLE Student(\nStudentID NUMERIC NOT NULL,\nStudentName NUMERIC NOT NULL,\nAdvisorID INTEGER,\nFOREIGN KEY(AdvisorID) REFERENCES Advisor(AdvisorID),\nPRIMARY KEY(StudentID)\n);\n  \nINSERT INTO Advisor(AdvisorID, AdvisorName) VALUES\n(1,"John Paul"), \n(2,"Anthony Roy"), \n(3,"Raj Shetty"),\n(4,"Sam Reeds"),\n(5,"Arthur Clintwood");\n  \nINSERT INTO Student(StudentID, StudentName, AdvisorID) VALUES\n(501,"Geek1",1),\n(502,"Geek2",1),\n(503,"Geek3",3),\n(504,"Geek4",2),\n(505,"Geek5",4),\n(506,"Geek6",2),\n(507,"Geek7",2),\n(508,"Geek8",3),\n(509,"Geek9",NULL),\n(510,"Geek10",1);\n  \n\'\'\')\n# https://www.geeksforgeeks.org/python-sqlite-join-clause/\n'

In [ ]:
cursor.execute("DELETE FROM tablename")
print()
print("After deleting all rows")
cursor.execute("SELECT * FROM tablename")
print(cursor.fetchall())

In [ ]:
cursor.execute("DROP TABLE IF EXISTS tablename")

In [4]:
db.commit()

In [5]:
cursor.close()
db.close()